* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Avenir', sans-serif;
    background-color: black;
    color: white;
    font-size: 1.6rem;
}

/* MOBILE FIRST -------------------------------- */

.menu {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    padding: 4rem;
}

.mobile-menu__trigger,
.mobile-menu__close svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.mobile-menu__trigger:hover,
.mobile-menu__close svg:hover {
    opacity: .6;
}

.mobile-menu__close {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding: 4rem;
    z-index: 6;
}

.mobile-menu__links {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    gap: 1rem;
    padding: 4rem;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.hide-overflow {
    position: fixed;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    -webkit-flex-direction: column;
    flex-direction: column;
    z-index: 100;
}

.mobile-menu.closing {
    opacity: 0;
    animation: fadeOut 200ms ease-in-out !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.mobile-menu.active {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    animation: fadeIn 200ms ease-in-out;
}

.logo img {
    width: 32px;
    height: 32px;
}

.nav__links {
    display: none;
    list-style: none;
}

.nav__links button,
.mobile-menu__links button {
    font-family: 'Avenir', sans-serif;
    text-decoration: none;
    color: white;
    margin-left: 2.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 800;
    transition: opacity .2s ease;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.nav__links button:hover,
.mobile-menu__links button:hover {
    opacity: .6;
}

.hero {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100vh;
}

.hero__image {
    position: relative;
    width: 300px;
    height: 225px;
    background-size: cover;
    background-image: url(/public/png/pizza_table.png);
}

.hero__image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .9));
}

.hero__content {
    text-align: center;
    position: relative;
    z-index: 1;
    top: -13rem;
}

.hero__content h1 {
    font-size: 5rem;
    font-family: 'TiemposFine';
    margin-bottom: 1.5rem;
}

.hero__content p {
    font-size: 1.6rem;
    margin-bottom: 3rem;
    padding: 0 10%;
}

.btn {
    display: inline-block;
    padding: 1.2rem;
    background-color: #fff;
    color: black;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    opacity: .8;
}

.btn--secondary {
    background-color: black;
    color: white;
}

.btn--secondary:hover {
    opacity: 1;
    text-decoration: underline;
}

/* FAST DELIVERY SECTION */

.delivery-section {
    background-color: white;
    color: black;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-bottom: 6rem;
}

.delivery-section__content {
    position: relative;
    top: -5rem;
    text-align: center;
}

.delivery-section__content img {
    position: relative;
    width: 180px;
    margin-bottom: 1rem;
}

.delivery-section__content h2 {
    font-size: 4.2rem;
    font-family: 'TiemposFine';
    margin-bottom: 1.5rem;
}

.delivery-section__content p {
    padding: 0 15%;
}

/* FRESH INGREDIENTS SECTION */

.ingredients-section {
    padding-bottom: 8rem;
}

.ingredients-section__content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.ingredients-section__content p {
    padding: 0 15%;
}

.ingredients-section__ingredients {
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    gap: .6rem;
}

.ingredients-section__ingredients picture:first-child {
    position: relative;
    z-index: 1;
    top: -0.5rem;
}

.ingredients-section__ingredients picture:last-child {
    position: relative;
    z-index: 1;
    top: -6rem;
}

.ingredients-section__content h2 {
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.ingredients-section__content p {
    font-size: 1.6rem;
    padding: 0 15%;
}

/* FAVORITE PICKS SECTION */
.favorite-section {
    padding: 0 10%;
    padding-bottom: 4rem;
}

.favorite-section__divider {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    gap: 1.8rem;
    margin-bottom: 1.5rem;
}

.favorite-section__divider h2 {
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.favorite-section__divider div {
    width: 100%;
    height: 1px;
    background-color: white;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.favorite-section__cards {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    gap: 6rem;
    margin-top: 6.5rem;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.favorite-section__card {
    width: 100%;
    height: auto;
    border: 1px solid white;
    border-radius: 3rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    transition:
        background-color .2s ease,
        color .2s ease;
}

.favorite-section__card:hover {
    background-color: white;
    color: black;
}

.favorite-section__card .card__content {
    position: relative;
    top: -3rem;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    gap: 2rem;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.favorite-section__card .card__content h3 {
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.favorite-section__card .card__content p {
    font-size: 1.6rem;
    padding: 0 10%;
    ;
}

.about-us-section {
    width: 100%;
    height: 365px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    overflow: hidden;
}

.about-us-section h2 {
    font-size: 3.2rem;
    font-family: 'TiemposFine';
    margin-bottom: 1.6rem;
}

.about-us-section .figure {
    width: 100%;
    height: 109px;
    background: url(/public/figure_1.png);
    position: absolute;
    bottom: 0;
}

.about-us-section picture {
    position: absolute;
    top: 0;
    left: 0;
}

.about-us-section div:last-child {
    z-index: 5;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.footer {
    background-color: white;
    color: black;
    padding: 0 5%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.footer__branding {
    position: relative;
    top: -4rem;
    margin-bottom: 3.2rem
}

.footer__branding img {
    width: 64px;
    margin-bottom: 2.5rem;
}

.footer__divider {
    font-size: 2.4rem;
    letter-spacing: .05em;
    font-weight: 900;
    text-transform: uppercase;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    gap: 2rem;
}

.footer__divider div:last-child {
    width: 400px;
    height: 1px;
    background-color: black;
}

.footer__links {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.footer__links-column {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: 1.5rem;
}

.footer__links-item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    gap: 1rem;
}

.footer__links-item a {
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
}

.footer__links-item a:hover {
    text-decoration: underline;
}

.footer__links-item img {
    width: 24px;
    height: 24px;
}

.ig-icon {
    width: 24px;
    height: 24px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    font-weight: 900;
    text-transform: uppercase;
}

.footer__credits {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    justify-content: center;
}

.footer__credits-content {
    padding: 6rem 0;
}

.footer__credits-content .gammx {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.8rem;
    font-family: 'Telegraf';
    font-weight: 500;
    margin-bottom: 2rem;
}

.footer__credits-content .gammx a {
    text-decoration: none;
    color: black;
}

.footer__credits-content .gammx a:hover {
    text-decoration: underline;
}

.footer__credits-content img {
    width: 24px;
    height: 24px;
}

/* TABLET SCREENS -------------------------------- */
@media (min-width: 768px) {
    .nav__links {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu__trigger {
        display: none;
    }

    .hero__image {
        width: 300px;
        height: 225px;
        background-size: cover;
    }

    .hero__image::after {
        width: 300px;
        height: 225px;
    }

    .hero__content h1 {
        font-size: 5rem;
    }

    .hero__content p {
        padding: 0 10%;
    }

    .delivery-section__content img {
        width: 180px;
    }

    .delivery-section__content h2 {
        font-size: 5rem;
    }

    .delivery-section__content p {
        padding: 0 15%;
    }

    .ingredients-section__content p {
        padding: 0 20%;
    }

    .favorite-section__cards {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .favorite-section__card {
        width: 100%;
        height: auto;
    }

    .favorite-section__card .card__content {
        -webkit-flex-direction: row;
        flex-direction: row;
        top: 0;
        left: -3rem;
        text-align: left;
        padding: 3rem 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        width: 100%;
    }

    .favorite-section__card .card__content p {
        padding: 0;
    }

    .footer__links {
        -webkit-flex-direction: row;
        flex-direction: row;
        gap: 4rem;
    }

    .footer__branding img {
        width: 80px;
    }
}

/* DESKTOP SCREENS -------------------------------- */

@media (min-width: 1024px) {
    .hero__image {
        width: 400px;
        height: 300px;
    }

    .hero__image::after {
        width: 100%;
        height: 100%;
    }

    .hero__content h1 {
        font-size: 6.4rem;
    }

    .hero__content p {
        padding: 0;
    }

    .delivery-section__content img {
        width: auto;
    }

    .delivery-section__content h2 {
        font-size: 6.4rem;
    }

    .delivery-section__content p {
        padding: 0 10%;
    }

    .ingredients-section__content p {
        padding: 0 30%;
    }

    .favorite-section__cards {
        -webkit-flex-direction: row;
        flex-direction: row;
    }

    .favorite-section__card {
        width: 300px;
        height: 300px;
    }

    .favorite-section__card .card__content {
        -webkit-flex-direction: column;
        flex-direction: column;
        left: 0;
        top: -3rem;
        text-align: center;
        padding: 0;
    }
}

/* FALLBACK FOR GAP IN IOS -------------------------------- */
@supports (-webkit-touch-callout: none) {
    .mobile-menu__links button:first-child {
        margin-bottom: 1rem;
    }
    .ingredients-section__ingredients picture:last-child {
        margin-left: 0.6rem;
    }
    .favorite-section__divider div:last-child {
        margin-left: 1.8rem;
    }
    .favorite-section__cards .favorite-section__card:last-child {
        margin-top: 6rem;
    }
    .footer__divider div:last-child {
        margin-left: 2rem;
    }
    .footer__links-column .footer__links-item {
        margin-bottom: 1.5rem;
    }
    .footer__links-item > * {
        margin-left: 1rem;
    }
    .footer__credits-content .gammx a {
        margin-left: 1rem;
    }
}